




.form {
    padding: 45px 20px 30px;
    background-color: #F4F4F4;
}

.input {
    background-color: white;
}


.submit {
    background-color: #16322E;
    padding: 13px 0;
    width: 100%;
    color: white;
    margin-top: 20px;
    border-radius: 4px;
}
